.contact1 {
  width: 100%;

  &-banner {
    width: 100%;
    height: 200px;
    background-image: url(img/cpu-chip.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 250px;
    }
    h1 {
      font-family: "Russo one";
      color: white;
      font-weight: 400;
      font-size: 36px;
      z-index: 1;
      @media screen and (min-width: 768px) {
        font-size: 44px;
      }
    }
  }

  b {
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }

  i {
    font-style: italic;
    color: blueviolet;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: $black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    grid-column: 2/3;
    grid-row: 2;
    place-self: start start;
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  #title1 {
    font-size: 24px;
  }

  &-text-container {
    margin-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 0;
    @media screen and (min-width: 768px) {
      margin-top: 90px;
    }
  }

  &-form {
    width: 80%;
    margin-top: 60px;
    margin-left: auto;
    height: 450px;
    margin-right: auto;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto auto auto auto 10%;
    place-items: start center;
    @media screen and (min-width: 768px) {
      margin-top: 90px;
      height: 600px;
    }
    h1 {
      font-family: "Montserrat", sans-serif;
      color: $black;
      font-weight: 600;
      font-size: 34px;
      grid-column: 2/3;
      grid-row: 2;
      place-self: start;

      @media screen and (max-width: 350px) {
        font-size: 26px;
      }
      @media screen and (min-width: 768px) {
        font-size: 42px;
      }
    }
    .contactname {
      grid-row: 3;
      grid-column: 2/3;
      width: calc(100% - 15px);
      border: none;
      height: 28px;
      padding-left: 15px;
      place-self: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      @media screen and (min-width: 768px) {
        height: 38px;
        font-size: 16px;
      }
    }
    .contactname:focus {
      outline: none;
    }
    .contactcontent {
      place-self: center;
      grid-row: 4;
      width: calc(100% - 15px);
      grid-column: 2/3;
      height: 185px;
      border: none;
      padding-left: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      @media screen and (min-width: 768px) {
        height: 250px;
        font-size: 16px;
      }
    }
    .contactcontent:focus {
      outline: none;
    }
    #submit {
      border: none;
      background: $black;
      place-self: center start;
      color: white;
      grid-row: 5;
      grid-column: 2/3;
      height: 25px;
      width: 50%;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      @media screen and (min-width: 768px) {
        height: 35px;
        font-size: 18px;
      }
    }
  }
}
